In [1]:
import numpy as np
import pandas as pd

## Rating Scale 
##### 1 - 5 
## Movies
##### 'Harry Potter 1'
##### 'Harry Potter 2'
##### 'Harry Potter 3'
##### 'Twilight'
##### 'Star Wars 1'
##### 'Star Wars 2'
##### 'Star Wars 3'
## Number of Users 
##### 4

In [2]:
data = [
    [0, 4, np.NaN, np.NaN, 5, 1, np.NaN, np.NaN],
    [1, 5, 5, 4, np.NaN, np.NaN, np.NaN, np.NaN],
    [2, np.NaN, np.NaN, np.NaN, 2, 4, 5, np.NaN],
    [3, np.NaN, 3, np.NaN, np.NaN, np.NaN, np.NaN, 3]
]

data = np.asarray(data)
df = pd.DataFrame(data, columns=['User', 'HP1', 'HP2', 'HP3', 'TW', 'SW1', 'SW2', 'SW3'])
df.head()

   User  HP1  HP2  HP3   TW  SW1  SW2  SW3
0   0.0  4.0  NaN  NaN  5.0  1.0  NaN  NaN
1   1.0  5.0  5.0  4.0  NaN  NaN  NaN  NaN
2   2.0  NaN  NaN  NaN  2.0  4.0  5.0  NaN
3   3.0  NaN  3.0  NaN  NaN  NaN  NaN  3.0

In [3]:
def cosine_sim(a, b):
    norm_a = 0
    norm_b = 0 
    for i in range(len(a)):
        
        if  np.isnan(a[i]):
            a[i] = 0
        if np.isnan(b[i]):
            b[i] = 0
            
    dot = np.dot(a, b)
    for i in range(1, len(a)):
        norm_a = norm_a + np.square(a[i])
        norm_b = norm_b + np.square(b[i])
        
    norm_a = np.sqrt(norm_a)
    norm_b = np.sqrt(norm_b)
    
    return dot / (norm_a * norm_b)


sim_0_1 = cosine_sim(df.iloc[0], df.iloc[1])
sim_0_2 = cosine_sim(df.iloc[0], df.iloc[2])

print('Similarity of User {} and User {} : {}'.format(0, 1, np.round(sim_0_1, 2)))
print('Similarity of User {} and User {} : {}'.format(0, 2, np.round(sim_0_2, 2)))

Similarity of User 0 and User 1 : 0.38
Similarity of User 0 and User 2 : 0.32